.orm-packages-main .arrow-sign{display: none;}.package-wrapper-area table.seo-rank-table.table tbody tr th:first-child{background: #ececec;}.top-secton nav.navbar li.nav-item:last-child ul.submenu.mega-menu{left:auto;right:0}main.slider.seo-service-page.life-at-ezrankings-banner img.d-block.w-100 {height: 538px;}main.slider img { min-width: 100% !important; width:100% !important;}.home_page .give-power-txt.our-seo-process.text-center.img-left img.pull-left{margin-bottom:25px}.main-footer ul.footer-nav.our-services{text-transform:uppercase}#case-study .seo-result-slide{margin-left:1px!important;display:block!important}section.blog-faq .blog-post .card-body{height:170px;overflow-y:scroll}section.blog-faq ul.blog-listing li:last-child a{border-bottom:1px solid #cccccc8c!important}section.blog-faq ul.blog-listing li a span.date{font-size:13px;color:#0b559b;bottom:-2px}#our_reseller_partner span.message.text-center{width:100%}#looking_dynamic_website_form span.message{color:#253f50;width:100%}#our_reseller_partner input.form-control.effect-8{color:#fff}section.what-make-diffrent .col{padding:18px}body.organic-seo-services-main .main.seo-tab ul.nav.nav-tabs li a,body.professional-seo-services-main .main.seo-tab ul.nav.nav-tabs li a,body.seo-consulting-company-main .main.seo-tab ul.nav.nav-tabs li a{padding:5px 38px}body.seo-marketing-firm-main .main.seo-tab ul.nav.nav-tabs li a{padding:5px 28px}.filters.portfolio.filter-button-group h2{font-weight:700;color:#1d5172;font-size:40px}.seo-strategy .tab-pane ul{text-align:left}.container.reseller-solution-grid .item{min-height:327px;height:auto}section.blog-faq ul.blog-listing li a{padding:8px 0 23px}.festival-offer.faq-banner{padding:50px 0 0 0;background:#0052d4;background:-webkit-linear-gradient(to right,#6fb1fc,#4364f7,#0052d4);background:linear-gradient(to right,#6fb1fc,#4364f7,#0052d4)}.festival-offer.faq-banner .col-md-12.text-center.festive-colom.in-main-banner h1{color:var(--ez-yellow);font-size:50px;font-weight:900}article.blog-section .blog-des.text-center{padding:20px 0}article.blog-section .blog-des.text-center p{font-weight:400;line-height:35px;color:var(--ez-txt-color);font-size:18px}article.blog-section .blog-des.text-center p a{color:#4aaef1}.row.featured-on-section h5{font-size:33px;font-family:var(--main-font);font-weight:900!important;color:#403f3f;padding:10px 0;position:relative}.row.featured-on-section h5:before{position:absolute;left:47%;bottom:4px;width:100px;height:5px;background:#f3d049;content:''}.featured-on-section .featuded-colom{background:#243f51;position:relative;margin:20px 0;height:260px;-webkit-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out;border:2px solid #e7e7e7}.featured-on-section .featuded-colom img{width:100%;height:168px;object-fit:cover}.featured-on-section .featuded-colom h2{font-size:17px;-webkit-transform:scale(.8);-ms-transform:scale(.8);transform:scale(.8);line-height:33px;padding:10px;transition:all .5s ease-in-out;text-align:center;left:0;width:100%;bottom:0;position:relative;margin:0 auto;right:0;color:#fff;display:flex;justify-content:center;align-items:center}.featured-on-section .featuded-colom:hover h2{width:100%;height:100%;position:absolute;background:rgba(21,19,19,.79);-webkit-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);color:#fff;bottom:0}.featured-on-section .featured-des h3{font-size:33px;font-family:var(--main-font);font-weight:700;color:#403f3f;padding:10px 0}.featured-on-section .featured-des ul li{list-style-position:inside;color:#444}.featured-on-section .featured-des ul{padding:0}.featured-on-section .featured-des ul li{padding:10px 25px;position:relative;list-style:none}.featured-on-section .featured-des ul li:before{position:absolute;top:10px;left:0;width:auto;height:100%;font-family:FontAwesome;content:"\f18e ";font-size:18px;color:#243f51}body.featured-main section.award-strip{display:none}body.featured-main .slider:before{display:none}body.featured-main main.slider.seo-service-page.featured-banner h1{color:var(--ez-yellow);font-size:50px;font-weight:900;text-align:center;padding:50px 0}body.featured-main .breadcrumb-bottom{position:relative;top:0;left:0;padding:20px 0 0}body.featured-main .breadcrumb-bottom .left.pull-left ul{padding:0 0 0 20px}body.featured-main .breadcrumb-bottom .left.pull-left ul li a{color:#fff!important}body.featured-main .breadcrumb-bottom .left.pull-left ul li i{color:#fff}.guest .package-wrapper-area tr th:first-child{background:#fff}main.slider.seo-service-page.seo-packages-banner{padding:50px 0;padding-top:0}main.slider.seo-service-page.seo-packages-banner h1{padding:50px 0;color:var(--ez-yellow);font-size:50px;font-weight:900;text-align:center;padding:50px 0;float:left;width:100%}.breadcrumb-top{position:relative;top:0;left:0;padding:20px 0 0}.breadcrumb-top ul li a{color:#fff}.breadcrumb-top ul li i{color:#fff}.breadcrumb-top ul{padding:0}main.slider.seo-service-page.seo-packages-banner::before{display:none}.packages-table ul.ul-ui-css>li>strong{color:#253f50;padding:4px}ul.ul-ui-css>li>strong{color:#ab9319;padding:4px}ul.ul-ui-css>li ul li{position:relative;list-style:none;padding:0 20px}ul.ul-ui-css>li ul li:before{position:absolute;top:7px;left:-8px;content:url(/assets/images/right-tick-img.png);font-family:FontAwesome;color:#929292;width:13px}ul.ul-ui-css>li{position:relative;list-style:none;padding:0 9px;line-height:31px;margin-bottom:10px}ul.ul-ui-css>li:before{content:'\f105 ';font-family:FontAwesome;padding-right:6px;top:0;position:absolute;left:0;color:#b89319;font-weight:600;font-size:20px}ul.ul-ui-css>li ul li{position:relative;list-style:none;padding:0 20px}.packages-table ul.ul-ui-css{padding:0}.packages-table ul.ul-ui-css li{padding:5px 25px;list-style:none}main.seo-package-area .accordian-packages{border-top-right-radius:0;border-top-left-radius:0;padding:10px 0}main.seo-package-area .accordian-packages h4.text-center.sep-heading{padding:10px 0}.package_table table tr td{border-right:0!important;border-left:1px solid #b6b6b6b3!important;margin:0}main.seo-package-area .accordian-packages{border-top-right-radius:0!important;border-top-left-radius:0!important;padding:10px 0;padding-bottom:0;border-bottom-left-radius:0!important}main.seo-package-area .accordian-packages h4.text-center.sep-heading{padding:10px 0}.package_table table tr td{border-right:0!important;border-left:1px solid #b6b6b6b3!important;margin:0}table.seo-rank-table.table{border:1px solid #ddd;margin:0}main.seo-package-area .accordian-packages tr td i{background:#243f4f;color:#e5f1fd;height:35px;width:35px;display:flex;justify-content:center;align-items:center;text-align:center;margin:0 auto;border-radius:50px}.main.slider.seo-service-page{padding:50px 0 0 0;background:#0052d4;background:-webkit-linear-gradient(to right,#6fb1fc,#4364f7,#0052d4);background:linear-gradient(to right,#6fb1fc,#4364f7,#0052d4);padding-top:0}.slider h1{color:var(--ez-yellow);font-size:50px;font-weight:900;text-align:center;padding:50px 0}.slider:before{display:none}.package-page h1{text-align:center;font-size:50px;font-weight:600!important;color:#253f50;margin-bottom:20px}.our-seo-process.text-center{background:#f1f1f15e}.our-seo-process.text-center ul{padding:0}.our-seo-process.text-center ul li{position:relative;padding:5px 25px;list-style:none}.our-seo-process.text-center ul li:before{position:absolute;top:9px;left:0;content:url(/assets/images/right-tick-img.png);font-family:FontAwesome;color:#929292;width:13px}body.seo-packages-main div#seo-packages-section #local .accordian-packages .package_table.purchase-table tr td{width:24.5%!important;min-width:0}body.online-reputation-packages-main div#seo-packages-section #local .accordian-packages .package_table.purchase-table tr td{width:21%!important;min-width:0}section#show-form{background:#233f50;padding:20px 0}section#show-form{background:#233f50;padding:20px 0}section#show-form .form-heading h3{color:var(--ez-yellow)!important;font-size:40px!important}section#show-form a.close-frm{color:#fff;padding:20px!important}section#show-form form#signupletscon input{color:#fff;border:1px solid #fff;background:0 0;border-color:#67a6cc}section#show-form form#signupletscon input::placeholder{color:#fff}section#show-form form#signupletscon span{display:none}section#show-form form#signupletscon .form-group{padding:15px 0;border:none}section#show-form form#signupletscon textarea{color:#fff;border:1px solid #fff}section#show-form form#signupletscon textarea::placeholder{color:#fff}section#show-form form#signupletscon input.btn.btn-success{background:#f3d049;display:inline-block;font-weight:600;color:#253f4f;padding:10px 60px;min-width:auto;margin:0 12px;border-radius:50px;font-size:24px;text-transform:capitalize;position:relative;text-align:left;transition:all .4s ease-in-out;text-align:center}section#show-form form#signupletscon textarea{background:0 0;background:0 0;border-color:#67a6cc}section#show-form form#signupletscon input.btn.btn-success:hover{background:#000;color:#fff}body.online-reputation-packages-main .accordian-packages tr td{min-width:33.5%;width:21%!important;text-align:center!important}body.online-reputation-packages-main table.seo-rank-table.table tr th:first-child{width:22%}body.online-reputation-packages-main table.seo-rank-table.table tr th{text-align:center}body.online-reputation-packages-main .arrow-sign{display:none}body.social-media-marketing-packages-main .arrow-sign{display:none}body.mobile-seo-packages-main .arrow-sign{display:none}body.cro-packages-main table.seo-rank-table.table.new-package-UI.four td{text-align:left!important}body.cro-packages-main .arrow-sign{display:none}body.design-development-packages-main main.seo-package-area .package-tab ul li a{text-transform:uppercase;background:#464646!important;border-radius:6px 6px 0 0;margin:0 2px;color:#cacaca;font-weight:600;font-size:22px!important;font-family:var(--main-font);padding:18px 5px;display:block}body.design-development-packages-main main.seo-package-area .package-tab ul li{width:350px!important;text-align:center;margin:0 3px}body.design-development-packages-main main.seo-package-area .package-tab ul li a.active{background:#ffd917!important;color:#080808;top:auto}body.design-development-packages-main .package-tab .demo{background:#f3f3f3;padding:30px 0;height:100%;display:flex;justify-content:center;align-items:center;margin:10px 0 0}body.design-development-packages-main #global .pricingTable{background:#fff}body.design-development-packages-main .pricingTable{padding-bottom:10px;background:#fff;border-bottom:15px solid var(--pricingTable-yellow);text-align:center;transform:scale(1);font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";overflow:hidden;position:relative;transition:all .5s ease-in-out}body.design-development-packages-main .pricingTable:before{content:"";width:100%;height:322px;background:#faac01;position:absolute;top:-150px;left:0;transform:skewY(-20deg)}body.design-development-packages-main .pricingTable .pricingTable-header{padding:20px 20px 40px;text-align:left;position:relative}body.design-development-packages-main .pricingTable .title{font-size:30px;font-weight:600;color:#fff;text-transform:uppercase;margin:0;padding:10px 0}body.design-development-packages-main .pricingTable .price-value{display:inline-block;width:170px;height:110px;padding:15px;border-bottom:15px solid #673ab7;border-top:none;border-bottom:none;position:relative}.pricingTable .price-value:after,.pricingTable .price-value:before{width:121px;height:121px;border:3px solid var(--pricingTable-yellow);border-right:none;border-bottom:none;position:absolute;top:-60px}.pricingTable .price-value:after,.pricingTable .price-value:before,.pricingTable .value:after,.pricingTable .value:before,.pricingTable .year:after,.pricingTable .year:before{content:"";left:50%;transform:translateX(-50%) scaleY(.5) rotate(45deg)}.pricingTable .value{width:100%;height:100%;border:2px solid var(--pricingTable-yellow);border-top:none;border-bottom:none;z-index:1;position:relative}.pricingTable .value,.pricingTable .year{color:var(--pricingTable-yellow);background:#fff}.pricingTable .value:after,.pricingTable .value:before{width:97px;height:97px;background:#fff;border:3px solid var(--pricingTable-yellow);border-bottom:none;border-right:none;position:absolute;top:-48px;z-index:-1}.pricingTable .price-value:after,.pricingTable .price-value:before,.pricingTable .value:after,.pricingTable .value:before,.pricingTable .year:after,.pricingTable .year:before{content:"";left:50%;transform:translateX(-50%) scaleY(.5) rotate(45deg)}.pricingTable .currency{display:inline-block;font-size:30px;margin-top:7px;vertical-align:top;font-weight:700}.pricingTable .amount{display:inline-block;font-size:28px;font-weight:700;line-height:65px}.pricingTable .value:after{border-right:3px solid var(--pricingTable-yellow);border-bottom:3px solid var(--pricingTable-yellow);border-top:none;border-left:none;top:auto;bottom:-48px}.pricingTable .value:after,.pricingTable .value:before{width:97px;height:97px;background:#fff;border:3px solid var(--pricingTable-yellow);border-bottom:none;border-right:none;position:absolute;top:-48px;z-index:-1}.pricingTable .price-value:after,.pricingTable .price-value:before,.pricingTable .value:after,.pricingTable .value:before,.pricingTable .year:after,.pricingTable .year:before{content:"";left:50%;transform:translateX(-50%) scaleY(.5) rotate(45deg)}.pricingTable .pricing-content{padding:50px 0 0;margin-bottom:20px;list-style:none;text-align:left;transition:all .3s ease 0s}#ecommerceseo .pricingTable .pricing-content li:nth-child(1),#global .pricingTable .pricing-content li:nth-child(1),#local .pricingTable .pricing-content li:nth-child(1){font-weight:700}#ecommerceseo .pricingTable .pricing-content li,#global .pricingTable .pricing-content li,#local .pricingTable .pricing-content li{font-size:16px!important}.packages-section .package-tab ul li{width:263px;text-align:center}.pricingTable .pricing-content li{padding:5px 0 5px 25px;display:block;border-bottom:1px solid #e4e4e4;color:#4e4b4b;position:relative;font-size:14px;font-weight:500;width:100%!important;line-height:21px}.pricingTable .pricing-content li.disable:before,.pricingTable .pricing-content li:before{content:"\f00c ";font-family:FontAwesome;font-weight:900;width:20px;font-size:10px;height:20px;line-height:20px;border-radius:50%;background:#98c458;text-align:center;color:#fff;position:absolute;top:6px;left:10px}.pricingTable .pricing-content li.disable:before{content:"\f00d"!important;background:#fe6c6c!important}.pricingTable .pricing-content li.disable:before,.pricingTable .pricing-content li:before{content:"\f00c ";font-family:FontAwesome;font-weight:900;width:20px;font-size:10px;height:20px;line-height:20px;border-radius:50%;background:#98c458;text-align:center;color:#fff;position:absolute;top:6px;left:10px}#ecommerceseo form,#global form,#local form{position:sticky;bottom:-10px;left:0;padding:10px;right:0;margin:0 0;background:#fff}.pricingTable .pricingTable-signup{display:inline-block;width:auto;text-decoration:none;font-size:22px;font-weight:700;color:var(--pricingTable-yellow);text-transform:uppercase;border:2px solid var(--pricingTable-yellow);position:relative;transition:all .3s ease 0s;background:0 0;margin:10px 0 0;border-radius:0;padding:7px 30px;cursor:pointer}body.online-reputation-packages-main table.seo-rank-table.table td{text-align:center}body.ppc-packages-main .arrow-sign{display:none}section.what-make-diffrent .col{max-width:25%}.package-clm tbody tr td{text-align:left!important}.breadcrumb-bottom ul li i{color:#fff!important}.slider .breadcrumb-bottom ul li a{color:#fff!important}.breadcrumb-bottom{position:absolute;top:5px;left:0!important;z-index:1;width:100%}.breadcrumb-bottom .left.pull-left{padding-left:15px}body.link-building-services-main .our-seo-process.text-center ul li:before{position:absolute;top:19px;left:8px;content:url(/assets/images/right-tick-img.png);font-family:FontAwesome;color:#929292;width:13px}body.link-building-services-main .link-building ul.box-ui li{width:33%;float:left;border-bottom:none;border-right:1px solid #a6c4d4;padding:13px 35px}body.link-building-services-main .link-building ul.box-ui{height:auto;float:left}.link-building ul.box-ui li:nth-child(6),body.link-building-services-main .link-building ul.box-ui li:nth-child(3){border-right:none!important}.menu .submenu{z-index:9}.link-building ul.box-ui li:last-child{border-right:none}body.seo-packages-main main.seo-package-area .accordian-packages tr td:first-child{width:25%}body.seo-packages-main div#collapseg2 table.seo-rank-table.table td{width:8%!important}body.seo-packages-main div#collapseg5 table.seo-rank-table.table td{width:18%}body.seo-packages-main div#collapseg5 table.seo-rank-table.table td:nth-child(1){width:24%}body.seo-packages-main div#collapseg6 table.seo-rank-table.table td{width:18%}body.seo-packages-main div#collapseg6 table.seo-rank-table.table td:nth-child(1){width:24%}body.local-seo-packages-main main.seo-package-area .accordian-packages tr td:first-child{width:25%}body.local-seo-packages-main main.seo-package-area table.new-package-UI tr:first-child th:nth-child(1){width:25%}body.local-seo-packages-main main.seo-package-area table.new-package-UI tr td{width:25%!important}body.local-seo-packages-main body.local-seo-packages-main main.seo-package-area .accordian-packages tr td:first-child{width:25%}body.mobile-seo-packages-main main.seo-package-area table.new-package-UI tr:first-child th:nth-child(1){width:25%}body.mobile-seo-packages-main table.new-package-UI tr td{width:25%!important}body.local-seo-packages-main main.seo-package-area .accordian-packages tr td,body.mobile-seo-packages-main main.seo-package-area .accordian-packages tr td:first-child{width:25%}body.mobile-seo-packages-main main.seo-package-area .accordian-packages tr td{width:25%}body.ppc-packages-main table.seo-rank-table.table tr th:first-child{width:22%}body.ppc-packages-main table.seo-rank-table.table tr th{background:#243f4d;color:#fff;text-align:center}body.ppc-packages-main table.new-package-UI tr:first-child th:nth-child(1){font-size:24px;text-transform:uppercase;padding:0 20px!important;vertical-align:middle;color:#fff!important}body.ppc-packages-main .accordian-packages tr td{min-width:33.5%;width:21%!important;text-align:center!important}body.ppc-packages-main main.seo-package-area table.new-package-UI tr td{text-align:center}body.online-reputation-management-services-main main.service-section .service-clm{min-height:751px}body.online-reputation-management-services-main main.service-section .service-clm{margin-bottom:30px}main.service-section.online-reputation-management-services .col-md-12 h3{font-weight:700;color:#253f50;font-size:46px;margin-bottom:20px;text-align:center;padding:0 0 20px 0}.more.hide-text-frmt h3{font-weight:700;color:#253f50;margin-bottom:20px;font-size:43px}section.seo-reseller-solution h3{font-weight:700;color:#444;margin-bottom:20px;font-size:43px}section.seo-reseller-solution p{line-height:33px;font-size:20px;color:#454343}section.seo-reseller-solution a.btn.btn-info{padding:6px 15px;font-size:22px;transition:.4s all ease-in-out}body.white-label-seo-services-main .container.reseller-solution-grid .item{overflow:auto}.container.reseller-solution-grid .item a.btn.btn-info:hover{background:#f9cf2f;border-radius:100px;border-color:#f9cf2f}section.seo-reseller-solution a.btn.btn-info:hover{background:var(--ez-yellow);border-color:var(--ez-yellow)}section.seo-reseller-solution a.btn.btn-warning{padding:15px 60px;font-size:22px;transition:.4s all ease-in-out}section.seo-reseller-solution a.btn.btn-warning:hover{background:#f3d049!important;border-color:var(--ez-yellow);color:#000}.container.reseller-solution-grid h2{font-weight:700;color:#253f50;margin-bottom:20px;font-size:43px}.container.reseller-solution-grid .item p{line-height:30px;overflow:hidden;display:-webkit-box;-webkit-line-clamp:6;-webkit-box-orient:vertical;text-overflow:ellipsis}.container.reseller-solution-grid .item div:empty{display:none}.container.reseller-solution-grid .item div{display:none}.container.reseller-solution-grid .item p{line-height:30px;overflow:hidden;display:-webkit-box;-webkit-line-clamp:6;-webkit-box-orient:vertical;text-overflow:ellipsis}.container.reseller-solution-grid .item div:empty{display:none}.container.reseller-solution-grid .item div{display:none}.seo-reseller-partner-form h2{font-weight:700;color:#ffff;margin-bottom:0;font-size:43px}.seo-reseller-partner-form p{font-size:20px}.seo-reseller-partner-form input.btn.btn-info{width:100%}section.seo-reseller-solution.whote-bg h2{font-weight:700;color:#253f50;margin-bottom:20px;font-size:43px}section.seo-reseller-solution.whote-bg .item{background:#ececec!important}section.seo-reseller-solution.whote-bg h2{font-weight:700;color:#253f50;margin-bottom:20px;font-size:43px}section.seo-reseller-solution.whote-bg .item{background:#ececec!important}main.service-section.seo-reseller-services .service-clm{margin-bottom:30px}body.seo-reseller-services-main main.service-section.seo-reseller-services .service-clm i img{filter:invert(1)}main.service-section.seo-reseller-services .service-clm p{height:200px;overflow-y:scroll;margin-bottom:20px;line-height:30px}body.seo-reselling-services-main main.service-section.seo-reselling-services .service-clm img{filter:invert(1)}body.seo-reselling-services-main main.service-section.seo-reselling-services .service-clm p{height:200px;overflow-y:scroll;margin-bottom:20px;line-height:25px}main.service-section.seo-reselling-services .service-clm{margin-bottom:30px}main.service-section .service-clm p+a{background:#fff}body.white-label-seo-reseller-program-main .digital-marketing-txt.seo-page-cont h2{font-weight:700;color:#253f50;margin-bottom:20px;font-size:43px}body.white-label-seo-reseller-program-main main.service-section.white-label-seo-reseller-program .service-clm img{filter:invert(1)}body.white-label-seo-reseller-program-main main.service-section.white-label-seo-reseller-program .service-clm{margin-bottom:30px}body.white-label-seo-reseller-program-main main.service-section.white-label-seo-reseller-program .service-clm p{height:200px;overflow-y:scroll;margin-bottom:20px;line-height:30px}body.private-label-seo-services-main .digital-marketing-txt.seo-page-cont .text-ui h2{font-weight:700;color:#253f50;margin-bottom:20px;font-size:43px}body.private-label-seo-services-main .service-clm img{filter:invert(1)}body.private-label-seo-services-main .service-clm p{height:200px;overflow-y:scroll;margin-bottom:20px;line-height:30px}body.private-label-seo-services-main .service-clm{margin-bottom:30px}body.seo-reseller-packages-plans-main .digital-marketing-txt.seo-page-cont h3{font-weight:700;color:#253f50;margin-bottom:20px;font-size:43px}body.seo-reseller-packages-plans-main .service-clm img{filter:invert(1)}body.seo-reseller-packages-plans-main .service-clm p{height:200px;overflow-y:scroll;margin-bottom:20px;line-height:30px}body.seo-reseller-packages-plans-main .service-clm{margin-bottom:30px}.owl-carousel .col-md-4{flex:0 0 100%;max-width:100%}.owl-nav button{background:#253f50;width:40px;height:40px;border:none;outline:0}.owl-nav button span{font-size:35px}.owl-nav button:hover{color:#fff!important}.service-section .service-clm i{text-align:center;margin:0 auto;display:flex;justify-content:center;align-items:center}.container.reseller-solution-grid .item{min-height:500px;height:500px;overflow-y:auto}section.seo-reseller-solution.whote-bg .container.reseller-solution-grid .item{min-height:300px!important;height:300px!important;overflow:visible}body.white-label-seo-services-main main.service-section .service-clm p{height:200px;overflow-y:scroll!important;margin-bottom:20px}body.web-development-company-india-main main.service-section .service-clm p{height:200px!important;overflow-y:scroll!important}main.service-section .service-clm:hover a{background:#263f4e!important;color:#fff!important;border-radius:0 0 10px 10px;transition:all .4s ease-in-out}.industries-we-serve{background:#253f50!important}.industries-we-serve h6{color:#fff}.industries-we-serve h2{font-weight:700;color:#ffff!important;font-size:43px}.seo-reseller-partner-form{background:#253f50!important;padding:30px 0;text-align:center;color:#fff;margin-bottom:20px}.seo-reseller-partner-form input{background:0 0;color:#444;border-color:#9a9797;border-radius:10px;height:50px}.seo-reseller-partner-form input.btn.btn-info{background:#f3d049;text-transform:uppercase;color:#444;padding:6px 36px;font-weight:600;border-color:transparent;padding:10px 28px;border-radius:10px;width:100%!important}body.web-development-company-india-main .seo-reseller-partner-form{background:#253f50!important}.seo-reseller-partner-form h2{color:#fff!important;font-size:50px;font-weight:700}.seo-reseller-partner-form p{color:#fff!important}body.web-design-company-india-main main.service-section.web-design-company-india .service-clm img{filter:invert(1)}main.service-section.responsive-web-design-services .service-clm img{filter:invert(1)}main.service-section.logo-design-services .service-clm img{filter:invert(1)}main.service-section.website-redesigning-company .service-clm img{filter:invert(1)}.news-section .news-clm figure{margin:20px 0 0;position:relative}.news-section .news-clm img{height:329px;width:100%;-o-object-fit:cover;object-fit:cover;border:1px solid;padding:3px}.date-dv{position:absolute;bottom:8px;background:#253f50;width:92.5%;left:8px;padding:8px;font-weight:700;font-size:14px;color:#fff;border-radius:1px}.date-dv:before{position:absolute;right:-10px;height:101%;background:#253f50;-webkit-transform:skew(-24deg);-ms-transform:skew(-24deg);transform:skew(-24deg);z-index:0}.date-dv:before,.news-section .news-clm h3:before{width:40px;content:'';bottom:0}.date-dv i{padding:5px}.news-section .news-clm h3{font-weight:500;color:#38393a;font-size:20px;position:relative;padding:6px 0;margin:10px 0}.news-section .news-clm h3:before{position:absolute;left:0;height:3px;background:#253f50}.date-dv:before,.news-section .news-clm h3:before{width:40px;content:'';bottom:0}.news-section .news-clm p{line-height:24px;text-align:justify;margin:0;padding-bottom:10px}.news-section .news-clm p,.news-section .news-clm ul li{color:#635d5d;font-size:14px;font-family:var(--main-font)}.news-section .news-clm .btn-info{color:#198be0;padding:10px 20px;background:0 0;display:inline-block;font-weight:600;transition:all .4s ease-in-out;text-transform:uppercase;border:1px solid;margin-top:10px;text-decoration:none;border-radius:5px}.news-section .news-clm a:hover{transition:all .4s ease-in-out;background:#198be0;color:#fff!important}.news-section .news-clm figure a.news-title{color:#253f50!important}.news-clm a{color:#253f50}.right-side h3{margin-bottom:13px;font-size:24px;text-transform:uppercase;font-family:var(--main-font);font-weight:700;line-height:28px}.seo-results-tab{background:url(../../assets/images/seo-tab.png) center no-repeat;min-height:446px}.seo-results-tab h5{font-size:24px;text-transform:uppercase;font-family:var(--text-font);font-weight:700;padding:54px 0 4px}#case-study .seo-result-slide{margin-left:107px!important}.right-side p{font-weight:400;font-size:16px;text-align:justify;line-height:27px;font-family:var(--main-font)}.seo-rank-table tr:nth-child(odd){background:#f1f0f0;border-bottom:1px solid #dee2e6}.seo-result-slide table tr td:nth-child(1){width:71%!important}.package_table table tr td:nth-child(1),.seo-rank-table tr td:nth-child(1){width:25%}.seo-rank-table tr td{padding:4px 10px;margin:2px 0}.seo-rank-table tr td{padding:4px 10px;margin:2px 0}.top-contact-strip.text-right ul li{padding:10px 0}section.seo-reseller-solution .container-fluid a.btn{padding:15px 60px}body.white-label-seo-services-main .container.reseller-solution-grid h2{color:#253f50;margin:0;padding:0;font-weight:800;padding-bottom:10px}body.white-label-seo-services-main .container.reseller-solution-grid h2+p{margin-bottom:40px;color:#454343}.container.reseller-solution-grid .item p{color:#454343}main.service-section .service-clm p{overflow:auto}.service-clm p{line-height:30px}@media (min-width:993px) and (max-width:1200px){body.seo-consulting-company-main .main.seo-tab ul.nav.nav-tabs li a{padding:5px 25px!important;font-size:18px;font-weight:600;line-height:26px}body.seo-marketing-firm-main .main.seo-tab ul.nav.nav-tabs li a{padding:5px 20px!important}body.seo-company-india-main .main.seo-tab ul.nav.nav-tabs li a{width:190px!important}.faq-sec h3:before{left:20px}.faq-sec h3{padding:0 15px}.news-clm div#book-form{width:100%!important;float:left;margin-right:10px}.form-parent h2{font-size:14px!important}.service-section .service-clm h6{font-size:25px}.service-clm p{line-height:25px;font-size:14px}}@media (min-width:768px) and (max-width:992px){body.organic-seo-services-main .main.seo-tab ul.nav.nav-tabs li a,body.professional-seo-services-main .main.seo-tab ul.nav.nav-tabs li a,body.seo-consulting-company-main .main.seo-tab ul.nav.nav-tabs li a{padding:5px 14px!important}body.seo-marketing-firm-main .main.seo-tab ul.nav.nav-tabs li a{padding:5px 10px!important}.app-store-optimization-services-main .main.seo-tab ul.nav.nav-tabs li a.nav-link{width:140px;height:60px;font-size:10px!important}body.seo-company-india-main .main.seo-tab ul.nav.nav-tabs li a{width:140px!important;height:60px;font-size:12px!important}.news-clm div#book-form{width:100%!important;float:left}.form-parent h2{font-size:17px!important;text-align:center}.faq-sec h3{padding:0 15px}.faq-sec h3:before{left:20px!important}.cta-form-design .col-md-6:last-child a.pgone+a{font-size:20px!important;font-weight:600;color:#11559b}.cta-form-design .row>.col-md-6:first-child{background:#253f4f;color:#fff;padding:40px 15px 0 15px!important}.form-colom{padding:10px 0}.cta-form-design .col-md-6:last-child a.pgone{font-size:40px!important}.categories-list.tags{overflow:scroll}body.podcasts-main .about-white-gray.Defoult-page-UI .col-sm-4{min-width:47.3%}}@media(max-width:767px){body.seo-services-main .our-seo-process.text-center figure{text-align:center;width:100%!important;float:right}section.blog-faq .blog-post .card-header button{font-size:12px}.why-digital-marketing h4.panel-title a{font-size:14px!important}.about-white-gray.Defoult-page-UI h1{font-size:28px;text-align:left!important}.faq-sec h3{padding:0 15px}.faq-sec h3:before{left:20px!important}.service-colom{padding:20px 0}.news-clm{overflow:scroll}.cta-form-design .col-md-6:last-child a.pgone+a{font-size:20px!important;font-weight:600;color:#11559b}.cta-form-design .row>.col-md-6:first-child{background:#253f4f;color:#fff;padding:40px 15px 0 15px!important}.form-colom{padding:10px 0}.cta-form-design .col-md-6:last-child a.pgone{font-size:40px}.filters ul li{display:block!important}body.career-main .slider h2{font-size:14px!important;margin-top:0;display:block;line-height:25px!important}body.career-main .career-slider p{color:#fff!important;font-size:14px!important;line-height:25px}body.podcasts-main .about-white-gray.Defoult-page-UI .col-sm-4{max-width:100%!important}form#chkoutform label{font-weight:600;padding:2px 0;margin:3px;color:#151515;font-size:12px}}
main.seo-package-area table.new-package-UI div#month h2.price-font del {font-size: 26px;font-weight: 900;color: #ffffff;font-family: 'Poppins';position: absolute;right: -7px;top: -13%;font-style: initial;background: #F44336;padding: 5px 8px;border-radius: 3px;}
main.seo-package-area table.new-package-UI div#month h2.price-font {
position: relative;
}
main.seo-package-area table.new-package-UI div#month h2.price-font del:after {right: 98%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;border-color: rgba(136, 183, 213, 0);border-width: 20px;top: 50%;margin-top: -20px;border-right-color: #f44336;}
main.seo-package-area table.new-package-UI div#month h2.price-font del:before {content: '';z-index: 2;position: absolute;top: 38%;right: 96%;width: 7px;height: 7px;opacity: .95;background: #fceeed;border-radius: 7px;-webkit-box-shadow: inset 0.5px 0 rgba(0, 0, 0, 0.6);box-shadow: inset 0.5px 0 rgba(0, 0, 0, 0.6);}
ul.submenu.mega-menu {z-index: 999;}
main.seo-package-area table.new-package-UI div#month h2.price-font {
    padding-top: 20px;
}
main.seo-package-area table.new-package-UI div#month h2.price-font del {
    top: -9%;
}
section.what-make-diffrent .col h3 {
    margin-top: 0;
}



/*New banner css here 17-05-21*/
/*Learn more about SEO sec css here*/
.local-seo-services-main .our-seo-process img.pull-left {
    padding: 40px 0px 15px 15px;
    height: auto;
    float: right;
}
.about-seo {
    padding: 40px 0;
}

.about-seo .about-seo-head h2 {
    font-weight: 600;
    color: #263f4e;
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;
}

.seo-single-blog a {
    background: #e6f2fd;
    display: block;
    margin: 13px 0;
    color: #3b3939;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 50px;
}
.seo-blog-box {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
}
.seo-single-blog a:hover {
    background: #263f4e;
    color: #fff;
}
.seo-single-blog {
    padding: 0 30px 0 0;
}
/*Learn more about SEO sec css end here*/


.new-banner-text {
    left: 0 !important;
    text-align: center !important;
    width: 100% !important;
    max-width: 100% !important;
    top: 24% !important;
}

.new-banner-text .next-slide {
    width: 100% !important;
}

.digital-banner h2 {
    text-align: center !important;
    font-size: 45px !important;
    color: #dab0a3 !important;
    text-transform: uppercase !important;
    margin: 0;
    line-height: 30px;
    font-weight: 700 !important;
}

.digital-banner h3 {
    color: #ecc22e !important;
    font-family: poppins !important;
    font-weight: 600 !important;
    font-size: 86px !important;
    margin: 0;
}


.digital-banner a.free-btn {
    background: #ecc22e;
    color: #282d3f;
    font-family: poppins !important;
    font-weight: 600 !important;
    padding: 5px 25px;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 50px;
}

.digital-banner a.free-btn:hover {
    background: #253f50;
    border: #253f50;
    color: #fff;
    transition: all .4s ease-in-out;
}


.digital-banner h5 {
    color: #dab0a3;
    font-size: 18px;
    padding: 10px 0;
}

.digital-banner h5 span {
    font-weight: 100;
}
.banner-logo ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.banner-logo ul li {
    list-style: none;
    padding: 0 15px;
}
.seo-package-area .package-geading h2 {
       font-size: 56px !important;

}

/** media query **/
@media (min-width: 1300px) and (max-width: 1400px){
.digital-banner h2 {
    font-size: 41px;
}
.digital-banner h1 {
    font-size: 78px;

}
.banner-logo ul li {
    list-style: none;
    padding: 0 8px;
}

}
@media (min-width: 1200px) and (max-width: 1300px){
.digital-banner h2 {
    font-size: 36px;
}
.digital-banner h1 {
    font-size: 68px;

}
.digital-banner a.free-btn {
    font-size: 14px;
    padding: 1px 20px;
}
.digital-banner h5 {
    font-size: 14px;
}
.banner-logo ul li {
    list-style: none;
    padding: 0 10px;
}



}

@media (min-width: 993px) and (max-width: 1200px){
.digital-banner h2 {
    font-size: 29px;
}
.digital-banner h1 {
    font-size: 56px;

}
.digital-banner h5 {
    font-size: 13px;

}
ul.navbar-nav.mt-lg-0 {
    width: auto;
}
.top-secton nav.navbar a.nav-link {

    font-size: 12px;
    padding: 9px 20px;

}
	
}
@media (min-width: 768px) and (max-width: 992px){
.seo-package-area .package-geading h2 {
    font-size: 43 !important;
    line-height: 35px;
    text-align: left;
}
.digital-banner h2 {
    font-size: 22px;

}
.digital-banner h1 {
    font-size: 43px;

}
.digital-banner h5 {
    color: #dab0a3;
    font-size: 12px;
    padding: 10px 0;
}
main.slider .carousel-item img {
    height: auto;
}
.new-banner-text {

    top: 23% !important;
}
.banner-logo {
    display: none;
}
	
}
@media(max-width: 767px){
.seo-package-area .package-geading h2 {
    font-size: 29px !important;
    line-height: 25px;
    font-weight: 800;
    text-align: left;
}
main.slider .carousel-item img {
       height: 170px;
}
.digital-banner h2 {
    font-size: 14px;
        line-height: 15px;
}
.digital-banner h1 {
    font-size: 22px;
    margin: 0;
}
.new-banner-text {

    top: 32% !important;
}
.digital-banner a.free-btn {
    font-size: 12px;
    padding: 0 15px;
}
.digital-banner h5, .banner-logo {
    display: none;
}
.seo-single-blog a {
  font-size: 16px;
    padding: 10px 35px;

}
.about-seo .about-seo-head h2 {
    font-size: 32px;

}
.seo-single-blog {
    padding: 0 10px 0 0;
}

	
}
@media(max-width: 480px){
	
}
@media(max-width: 360px){
	
}


/*New banner css end here 17-05-21*/


.client-sec .owl-carousel .owl-item img {
    width: 100% !important;
}
.home_page .give-power-txt.our-seo-process.text-center.img-left img.pull-left {
    object-fit: contain;
}
body.android-app-development-agency-main .seo-reseller-partner-form { background: #d1e9f9!important; }
body.android-app-development-agency-main .seo-reseller-partner-form h2, body.android-app-development-agency-main .seo-reseller-partner-form p {
    color: #253f50!important;
}
body.android-app-development-agency-main .seo-reseller-partner-form .form-control::placeholder{color:#444}
/*============*Eleven Years banner css start here======================*/

main.slider .caption.eleven-years-silder {
    width: 100% !important;
    max-width: 100%;
    left: 0;
    text-align: center;
    top: 55px;
    right: 0;
    margin: 0 auto;
}


.eleven-years-silder-text h2.eleven-text-design span.truning-text {
    color: #bf3782;
    font-size: 16px;
    font-family: montserrat;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
}

body.home_page main.slider  .caption.eleven-years-silder .eleven-years-silder-text h2.eleven-text-design {
    text-align: center;
}
.eleven-years-silder-text span.eleven-font {
    display: block;
}
.eleven-years-silder-text span.support-text {
    display: block;
    font-size: 16px;
    color: #503782;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 10px;
    letter-spacing: 3px;
}
.eleven-years-silder-text span.double-text {
    color: #503782;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: montserrat;
    font-weight: 900 !important;
    font-size: 139px!important;
    position: relative;
    top: -30px;
}
.eleven-years-silder-text p.keyword-text {
    color: #503782;
    text-transform: uppercase;
    font-size: 32px;
    font-family: montserrat;
    letter-spacing: 1px;
    position: relative;
    top: -60px;
}
.eleven-years-silder-text p.offer-text {
    color: #902445;
    font-size: 16px;
    font-family: montserrat;
    text-transform: uppercase;
    position: relative;
    top: -70px;
}


.eleven-years-silder-text a.contact-btn-banner {
    color: #fddd3c;
    font-size: 16px;
    font-family: montserrat;
    text-transform: uppercase;
    background: #bf3782;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 500;
    position: relative;
    top: -75px;
    transition: 0.4s all ease-in-out;
}

.eleven-years-silder-text a.contact-btn-banner:hover {
    background: #253f50;
    color: #fff;
}
.eleven-years-silder-text {}

.eleven-years-silder-text ul li {
    display: inline-block;
}

.eleven-years-silder-text ul {
    position: relative;
    top: -70px;
    margin: 0;
    padding: 0;
}

.eleven-years-silder-text ul li a {
    color: #902445;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    padding: 0 15px;
}

.eleven-years-silder-text ul li a:before {
    position: absolute;
    content: "";
    top: 3px;
    left: 0;
    border-right: 2px solid #902445;
    width: 100%;
    height: 15px;
}

.eleven-years-silder-text ul li:last-child a:before {
    display: none;
}

.eleven-years-silder-text ul li:last-child a {
    padding: 0 5px;
}

.eleven-years-silder-text ul li a:hover {
    color: #253f50;
}
/** media query **/
@media (min-width: 1920px) and (max-width: 2560px){
  main.slider .caption.eleven-years-silder{
    top: 95px;
  }
.eleven-years-silder-text h2.eleven-text-design span.truning-text {
    font-size: 18px;
}
.eleven-years-silder-text span.support-text {
    font-size: 22px;
}
.eleven-years-silder-text span.double-text {
    font-size: 169px!important;

}
.eleven-years-silder-text p.keyword-text {
    font-size: 36px;

}
.eleven-years-silder-text p.offer-text {
    font-size: 20px;
}
.eleven-years-silder-text a.contact-btn-banner {
    font-size: 18px;
    padding: 10px 40px;

}

.eleven-years-silder-text ul li a {
    font-size: 17px;
}




}


@media (min-width: 1300px) and (max-width: 1400px){
  .eleven-years-silder-text span.support-text {
    font-size: 15px;
}
.eleven-years-silder-text span.double-text {
    font-size: 127px!important;
}
.eleven-years-silder-text p.keyword-text {
    font-size: 26px;

}
main.slider .caption.eleven-years-silder {
    top: 45px;

}


}

@media (min-width: 993px) and (max-width: 1200px){
.top-secton nav.navbar a.nav-link {
    padding: 10px 23px;
    font-size: 12px;
}
  
}
@media (min-width: 768px) and (max-width: 992px){
header.main-header .top-nav ul li a {
    line-height: 21px;
    padding: 3px 11px;
    font-size: 13px;
}
header.main-header .top-nav ul li a:after {
    display: none;
}
.cta-form-design .col-md-6:last-child p {
    font-size: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
}
  
}
/*============*Eleven Years banner css end  here======================*/
@media (max-width:767px){
	.seo-strategy p { text-align: justify;}
	.what-make-txt-ui.text-center p {text-align: justify;}
	.our-seo-process.text-center.img-left {text-align: justify !important;}
	.our-seo-process.text-center p {word-wrap: break-word !important;}
	.packages-table p {text-align: justify;}
	.service-section .service-clm:hover {transform: scale(1.0); border-color: #ddd;}
	body.design-development-packages-main main.seo-package-area .accordian-packages {min-width: 100% !important;}
    main.seo-package-area table.new-package-UI div#month h2.price-font del {font-size: 21px;}
}
main.slider .eleven-years-silder-text span.eleven-font img {
    width: auto !important;
    min-width: 230px !important;
    max-width: 100% !important;
}

/* media query for Logo*/
@media (min-width: 993px) and (max-width: 1200px){
.top-secton nav.navbar a.nav-link {
    padding: 10px 20px !important;
    font-size: 12px !important;
}
.top-secton .col-md-3 .brand-name img {
    width: 160px !important;
    height: 100% !important;
}
	
}
@media (min-width: 768px) and (max-width: 992px){
header.main-header .top-nav ul {
    margin-top: 15px !important;
}
header.main-header .top-nav ul li a {
    padding: 3px 17px !important;
    font-size: 12px !important;
}
.ftr_cta_blk .col-md-3 a, .ftr_cta_blk .col-md-3 span {
    font-size: 9px !important;
}
.top-secton .col-md-3 .brand-name img {
    width: 115px !important;
    height: 100% !important;
}	
}
@media(max-width: 767px){
.top-secton .col-md-3 .brand-name img {
    width: 115px !important;
    height: 100% !important;
}
}

.footer-social li a {
    padding: 11px 0 !important;
    color: #fff;
    transition: all .4s ease-in-out;
    text-align: center;
    border: 1px solid;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.footer-social li a img {
    height: 25px !important;
}

.footer-social li a:hover {
    background: #fff;
}




.footer-social li a {
    padding: 11px 0 !important;
    color: #fff;
    transition: all .4s ease-in-out;
    text-align: center;
        border: 1px solid #fff !important;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.footer-social li a img {
    height: 20px !important;
    transition: 0.4s all ease-in-out;
    object-fit: contain;
}

.footer-social li a:hover {
    background: #fff;
}
.footer-social li a {
    margin: 0 2px;
}

ul.footer-social {
    padding: 0;
}
.footer-social li a:hover img {
    filter: brightness(1) invert(1);
}

@media(max-width: 767px){
	ul.footer-social {
    padding: 15px 0 0;
    text-align: left;
}
/*Ez Ipad css here*/

@media (min-width: 993px) and (max-width: 1200px){
.ftr_cta_blk .col-md-3 a, .ftr_cta_blk .col-md-3 span {
    font-size: 14px;
}
.ftr_cta_blk .col-md-3 span i {position: relative;top: -3px;
}
main.slider, .footer-badge {
    display: none !important;
}

section.award-strip {
    display: none !important;
}
.ftr_cta_blk .col-md-3 a, .ftr_cta_blk .col-md-3 span {
    font-size: 14px;
}
}

@media (min-width: 768px) and (max-width: 992px){
header.main-header .top-nav ul li a {
    line-height: 21px;
    padding: 3px 15px !important;
    font-size: 12px !important;
}
/* .slider h1, .slider h2 {
    font-size: !important;
} */



.next-slide h2.sec-banner-design {
    font-size: 22px !important;
}

.next-slide h2.sec-banner-design span.large-text {
    font-size: 55px !important;
    line-height: 80px;
}

body.home_page main.slider .caption h2 span.upper-case {
    font-size: 19px;
}

body.home_page main.slider .caption h2 span.traffic-sale {
    font-size: 60px !important;
    top: -58px !important;
}

main.slider .caption h6 {
    font-size: 22px !important;
    width: 419px;
    top: -75px;
}
main.slider, .footer-badge {
    display: none !important;
}
section.award-strip {
    display: none !important;
}
}
@media(max-width: 767px){
main.slider, .footer-badge {
    display: none !important;
}

section.award-strip {
    display: none !important;
}	
	
}
}